.custom-table .ngx-datatable {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .header-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: #004085;
  }
  
  .header-icon {
    color: #17a2b8;
  }
  
  /* Lien de description */
  .description-link {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .description-link:hover {
    color: #0056b3;
  }
  
  /* Drawer */
  .drawer {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100%;
    width: 400px;
    background: #fff;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .drawer.open {
    right: 0;
  }
  
  .drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #004085;
    color: #fff;
  }
  
  .drawer-content {
    padding: 16px;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: #ccc;
  }
  
  .dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-item {
    display: flex;
    align-items: center;
  }
  
  .dropdown-item fa-icon {
    margin-right: 8px;
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #28a745;
  }
  .datatable-body-row{
    height: 100px !important;
  }
  
  .dropdown{
    margin-top: 10px !important;
  }
    
    .immersive-design {
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .toolbar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 10px;
      background: white;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .search-input {
      flex: 1;
      padding: 8px 12px;
      border: 1px solid #ddd;
      border-radius: 8px;
      margin-right: 10px;
    }
    
    .btn-add {
      background-color:#3b9e7f;
      color: white;
      padding: 10px 20px;
      border-radius: 8px;
      font-size: 14px;
    }
    
    .ngx-datatable .datatable-header {
      background: #007bff;
      color: white;
    }
    
    .ngx-datatable .datatable-row-center {
      background: white;
      transition: background 0.3s;
    }
    
    .ngx-datatable .datatable-row-center:hover {
      background: #f1f8ff;
    }
    
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      gap: 10px;
    }
    
    .pagination button {
      padding: 8px;
      border: none;
      border-radius: 50%;
      background: #007bff;
      color: white;
      cursor: pointer;
      font-size: 14px;
    }
    
    .pagination button:disabled {
      background: #ddd;
      cursor: not-allowed;
    }
    
  