
    <!-- Tabbar -->
    <div class="container">
      <!-- Sidebar -->
      <div class="tabbar">
        <button class="tab" [class.active]="selectedTab === 'create'" (click)="selectedTab = 'create'">
          <fa-icon [icon]="['fas', 'file-invoice']"></fa-icon> Créer un Devis
        </button>
        <button class="tab" [class.active]="selectedTab === 'list'" (click)="selectedTab = 'list'">
          <fa-icon [icon]="['fas', 'list']"></fa-icon> Liste des Devis
        </button>
        <button class="tab" [class.active]="selectedTab === 'createFacture'" (click)="selectedTab = 'createFacture'">
          <fa-icon [icon]="['fas', 'file-alt']"></fa-icon> Créer Facture
        </button>
        <button class="tab" [class.active]="selectedTab === 'listeFacture'" (click)="selectedTab = 'listeFacture'">
          <fa-icon [icon]="['fas', 'file-alt']"></fa-icon> Liste Factures
        </button>
        <button class="tab" [class.active]="selectedTab === 'createAvoir'" (click)="selectedTab = 'createAvoir'">
          <fa-icon [icon]="['fas', 'file-alt']"></fa-icon> Créer Avoir
        </button>
        <button class="tab" [class.active]="selectedTab === 'listeAvoirs'" (click)="selectedTab = 'listeAvoirs'">
          <fa-icon [icon]="['fas', 'receipt']"></fa-icon> Avoirs
        </button>
        <button class="tab" [class.active]="selectedTab === 'Deplacements'" (click)="selectedTab = 'Deplacements'">
          <fa-icon [icon]="['fas', 'receipt']"></fa-icon> Frais de déplacements
        </button>
        <button class="tab" [class.active]="selectedTab === 'Currency'" (click)="selectedTab = 'Currency'">
          <fa-icon [icon]="['fas', 'bell']"></fa-icon> Currency
        </button>
      
        <!-- Bouton Déconnexion -->
        <button class="logout">
          <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon> Se Déconnecter
        </button>
      </div>
      
    
      <!-- Contenu principal -->
      <div class="main-content" *ngIf="selectedTab === 'list'">
        <div class="header">
          <h2><fa-icon [icon]="['fas', 'file-edit']"></fa-icon> Liste des Devis</h2>
          <button class="add-button">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon> Ajouter
          </button>
        </div>
      
        <!-- Filtres bien séparés -->
        <div class="filters-container">
          <div class="filters">
        <span>Filtrer par :</span>
        <select class="filter-select">
          <option>Date de Commande</option>
        </select>
        <select class="filter-select">
          <option>Date d'Échéance</option>
        </select>
      </div>
      <div class="custom-search">
        <input type="text" placeholder="🔍 Rechercher">
      </div>
      
      
      
    </div>
  
        <table class="devis-table">
          <thead>
            <tr>
              <th>Référence</th>
              <th>Client</th>
              <th>Date De Commande</th>
              <th>Total TTC</th>
              <th>Statut</th>
              <th>Consulter</th>
              <th></th> <!-- Colonne pour les trois points -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let devis of devis">
              <td class="id-green">{{ devis._id }}</td>
              <td>{{ devis.client }}</td>
              <td>{{ devis.date }}</td>
              <td>{{ devis.totalTTC | currency }}</td>
              <td class="statut" 
                  [class.annule]="devis.statut === 'Annulé'" 
                  [class.facture]="devis.statut === 'Facturé'" 
                 >
                {{ devis.statut }}
              </td>
              <td class="actions">
                <button class="btn-detail">
                  Détails
                </button>
              </td>
              <td class="menu-container">
                <fa-icon [icon]="['fas', 'ellipsis-h']" class="menu-icon" (click)="toggleMenu(devis)"></fa-icon>
                <div class="menu-dropdown" *ngIf="devis.showMenu">
                  <button (click)="action('Facturer', devis)">
                    <fa-icon [icon]="['fas', 'file-invoice']"></fa-icon> Facturer
                  </button>
                  <button (click)="action('Envoyer', devis)">
                    <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon> Envoyer
                  </button>
                  <button (click)="action('Annuler', devis) " class="cancel-button">
                    <fa-icon [icon]="['fas', 'times']"></fa-icon> Annuler
                  </button>
             
                
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        
        
        <div class="pagination-container">
          <!-- Sélecteur d'éléments par page -->
          <div class="page-size">
            <span for="page-size">Afficher</span>
            <select id="page-size" (change)="onPageSizeChange($event)">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="50">50</option>
            </select>
            <span>par page</span>
          </div>
        
          <!-- Pagination -->
          <div class="pagination">
            <button class="active">1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
          </div>
        </div>
        
      </div>
      
  
    
    <div *ngIf="isModalOpen" class="modal">
      <div class="modal-content">
          <span (click)="closeModal()" class="close-btn">&times;</span>
          <iframe [src]="pdfUrl" class="pdf-viewer"></iframe>
      </div>
  </div>
 

  <div class="avoir-list-container" *ngIf="selectedTab === 'listeAvoirs'">
    <div class="header">
      <h2><fa-icon [icon]="['fas', 'file-edit']"></fa-icon> Liste des Avoirs</h2>
      <button class="add-button">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon> Ajouter
      </button>
    </div>
  
    <!-- Filtres bien séparés -->
    <div class="filters-container">
      <div class="filters">
        <span>Filtrer par :</span>
        <select class="filter-select">
          <option>Date de Commande</option>
        </select>
        <select class="filter-select">
          <option>Date d'Échéance</option>
        </select>
      </div>
      <div class="custom-search">
        <input type="text" placeholder="🔍 Rechercher">
      </div>
      
      
    </div>
  
    <table class="avoir-table">
      <thead>
        <tr>
          <th>Référence</th>
          <th>Client</th>
          <th>Date De Commande</th>
          <th>Total TTC</th>
          <th>Produits</th>
          <th></th> <!-- Colonne pour les trois points -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let avoir of avoirs">
          <td class="id-green">{{ avoir._id }}</td>
          <td>{{ avoir.client }}</td>
          <td>{{ avoir.dateCommande }}</td>
          <td>{{ avoir.totalTTC | currency }}</td>
        
          <td class="actions">
            <button class="btn-detail">
              Détails
            </button>
          </td>
          <td class="menu-container">
            <fa-icon [icon]="['fas', 'ellipsis-h']" class="menu-icon" (click)="toggleMenu(avoir)"></fa-icon>
            <div class="menu-dropdown" *ngIf="avoir.showMenu">
             
              <button (click)="action('Envoyer', avoir)">
                <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon> Envoyer
              </button>
              <button (click)="action('Annuler', avoir)" class="cancel-button">
                <fa-icon [icon]="['fas', 'times']"></fa-icon> Annuler
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="pagination-container">
      <!-- Sélecteur d'éléments par page -->
      <div class="page-size">
        <span for="page-size">Afficher</span>
        <select id="page-size" (change)="onPageSizeChange($event)">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
        </select>
        <span>par page</span>
      </div>
    
      <!-- Pagination -->
      <div class="pagination">
        <button class="active">1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
      </div>
    </div>
    
  </div>

  <div class="main-content" *ngIf="selectedTab === 'listeFacture'">
    <!-- En-tête -->
    <div class="header">
      <h2><fa-icon [icon]="['fas', 'file-invoice']"></fa-icon> Liste des Factures</h2>
      <button class="add-button">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon> Nouvelle Facture
      </button>
    </div>
  
    <!-- Filtres -->
    <div class="filters-container">
      <div class="filters">
        <span>Filtrer par :</span>
        <select class="filter-select">
          <option>Date de Facture</option>
        </select>
        <select class="filter-select">
          <option>Client</option>
        </select>
      </div>
      <div class="custom-search">
        <input type="text" placeholder="🔍 Rechercher par client ou produit...">
      </div>
    </div>
  
    <!-- Tableau -->
    <table class="devis-table">
      <thead>
        <tr>
          <th>Référence</th>
          <th>Client</th>
          <th>Date</th>
          <th>Produits</th>
          <th>Total TTC</th>
          <th>Détail Produits</th>
          <th></th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let facture of factures">
          <td class="id-green">{{ facture.id }}</td>
          <td>{{ facture.client?.nom }}</td>
          <td>{{ facture.date | date:'dd/MM/yyyy' }}</td>
          <td>
            <ul>
              <li *ngFor="let produit of facture.produits">
                {{ produit.product_info?.label }} (x{{ produit.quantite }})
              </li>
            </ul>
          </td>
          <td>{{ facture.total_ttc | number:'1.2-2' }} €</td>
          <td class="actions">
            <button class="btn-detail">
              Détails
            </button>
          </td>
        <td class="menu-container">
  <fa-icon 
    [icon]="['fas', 'ellipsis-h']" 
    class="menu-icon" 
    (click)="toggleMenu1(facture)">
  </fa-icon>

  <div class="menu-dropdown" *ngIf="facture.showMenu">
    <button>
      <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon> Envoyer
    </button>
    <button class="cancel-button" (click)="annulerFacture(facture)">
      <fa-icon [icon]="['fas', 'times']"></fa-icon> Annuler
    </button>
  </div>
</td>

        </tr>
      </tbody>
    </table>
  
    <!-- Pagination -->
    <div class="pagination-container">
      <div class="page-size">
        <span>Afficher</span>
        <select id="page-size" (change)="onPageSizeChange($event)">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
        </select>
        <span>par page</span>
      </div>
  
      <div class="pagination">
        <button class="active">1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
      </div>
    </div>
  </div>
        <!-- <h2 class="section-title">Liste des Factures</h2>
      
      <div *ngFor="let facture of factures" class="facture-card">
          <div class="facture-header">
              <div class="facture-info">
                  <h3>Facture #{{ facture.id }}</h3>
                  <p><strong>Client:</strong> {{ facture.client.nom }}</p>
                  <p><strong>Date:</strong> {{ facture.date | date:'dd/MM/yyyy' }}</p>
              </div>
              
              <div class="facture-total">
                  <p><strong>Total HT:</strong> {{ facture.total_ht | number:'1.2-2' }} €</p>
                  <p><strong>TVA:</strong> {{ facture.total_tva | number:'1.2-2' }} €</p>
                  <p><strong>Total TTC:</strong> {{ facture.total_ttc | number:'1.2-2' }} €</p>
              </div>
          </div> -->
          
        
          <!-- <div class="facture-actions">
              <a (click)="showFacture(facture)" class="facture-link">
                  <i class="fas fa-eye"></i> Afficher la Facture
              </a>
              <a (click)="downloadFacture(facture)" class="facture-link">
                  <i class="fas fa-download"></i> Télécharger
              </a>
              <a (click)="sendFactureByEmail(facture)" class="facture-link">
                  <i class="fas fa-envelope"></i> Envoyer par Email
              </a> 
              <a (click)="goAvoir(facture)" class="facture-link">
                <i class="fas fa-file-invoice"></i> Créer un Avoir
            </a>
            <a (click)="goRelance(facture)" class="facture-link">
                <i class="fas fa-bell"></i> Créer une Relance
            </a>
          </div> -->
  
          <!-- <div class="produits-section">
              <h4>Produits</h4>
              <table class="produits-table">
                  <thead>
                      <tr>
                          <th>Produit</th>
                          <th>Quantité</th>
                          <th>Prix Unitaire</th>
                          <th>Total</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let produit of facture.produits">
                          <td>{{ produit.product_info.label }}</td>
                          <td>{{ produit.quantite }}</td>
                          <td>{{ produit.prix_unitaire | number:'1.2-2' }} €</td>
                          <td>{{ (produit.quantite * produit.prix_unitaire) | number:'1.2-2' }} €</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div> -->


  <div class="container" *ngIf="selectedTab === 'Deplacements'">
  
    <!-- Table des Frais de Déplacement -->
    <div class="table-container">
      <h3 class="section-title">Liste des Frais de Déplacement</h3>
      <table class="frais-table">
        <thead>
          <tr>
            <th>Client</th>
            <th>Date</th>
            <th>Montant (€)</th>
            <th>Motif</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let frais of fraisDeplacements">
            <td>{{ frais.client }}</td>
            <td>{{ frais.date | date:'dd/MM/yyyy' }}</td>
            <td>{{ frais.montant | number:'1.2-2' }} €</td>
            <td>{{ frais.motif }}</td>
            <td>
              <button class="btn-action edit-btn"><i class="fas fa-edit"> </i> </button>
              <button class="btn-action delete-btn"><i class="fas fa-trash-alt"></i> </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Formulaire d'ajout d'un nouveau client -->
    <div class="form-container">
      <h3 class="section-title">Ajouter un Nouveau Frais de Déplacement</h3>
      <form (ngSubmit)="createFraisDeplacement()" #fraisForm="ngForm">
        <div class="form-group">
          <label for="client">Client</label>
          <input type="text" id="client" name="client" [(ngModel)]="newFrais.client" required />
        </div>
  
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" id="date" name="date" [(ngModel)]="newFrais.date" required />
        </div>
  
        <div class="form-group">
          <label for="montant">Montant (€)</label>
          <input type="number" id="montant" name="montant" [(ngModel)]="newFrais.montant" required />
        </div>
  
        <div class="form-group">
          <label for="motif">Motif</label>
          <textarea id="motif" name="motif" [(ngModel)]="newFrais.motif" required></textarea>
        </div>
  
        <button type="submit" [disabled]="!fraisForm.form.valid" class="submit-button">Ajouter</button>
      </form>
    </div>
  </div>
  
  
  
  <div class="create-avoir-form-container" *ngIf="selectedTab === 'createAvoir'">
    <h2> Créer un Avoir</h2>
  
    <form (ngSubmit)="createAvoir()" #avoirForm="ngForm" class="create-avoir-form">
      <!-- Client ID -->
      <div class="form-group">
        <label for="client_id">Client</label>
        <input
          type="text"
          id="client_id"
          name="client_id"
          [(ngModel)]="newAvoir.client_id"
          required
          readonly
          disabled
          placeholder="Numéro de client"
        />
      </div>
  
      <!-- Facture ID -->
      <div class="form-group">
        <label for="facture_id">Facture</label>
        <input
          type="text"
          id="facture_id"
          name="facture_id"
          [(ngModel)]="newAvoir.facture_id"
          required
          readonly
          disabled
          placeholder="Numéro de facture"
        />
      </div>
  
      <!-- Date -->
      <div class="form-group">
        <label for="date">Date de création</label>
        <input
          type="date"
          id="date"
          name="date"
          [(ngModel)]="newAvoir.date"
          required
        />
      </div>
  
      <!-- Montant HT -->
      <div class="form-group">
        <label for="total_ht">Montant HT (€)</label>
        <input
          type="number"
          id="total_ht"
          name="total_ht"
          [(ngModel)]="newAvoir.total_ht"
          required
          placeholder="Montant HT"
          (input)="calculateTTC2()"
        />
      </div>
  
      <!-- Montant TVA -->
      <div class="form-group">
        <label for="total_tva">Montant TVA (€)</label>
        <input
          type="number"
          id="total_tva"
          name="total_tva"
          [(ngModel)]="newAvoir.total_tva"
          required
          placeholder="Montant TVA"
          (input)="calculateTTC2()"
        />
      </div>
  
      <!-- Montant TTC (calculé) -->
      <div class="form-group">
        <label for="total_ttc">Montant TTC (€)</label>
        <input
          type="number"
          id="total_ttc"
          name="total_ttc"
          [(ngModel)]="newAvoir.total_ttc"
          readonly
          disabled
          placeholder="Montant TTC"
        />
      </div>
  
      <!-- Raison -->
      <div class="form-group">
        <label for="reason">Raison de l'Avoir</label>
        <textarea
          id="reason"
          name="reason"
          [(ngModel)]="newAvoir.reason"
          required
          placeholder="Raison de l'avoir"
        ></textarea>
      </div>
  
      <!-- Bouton de soumission -->
      <button type="submit" [disabled]="!avoirForm.form.valid" class="submit-button">
        Créer l'Avoir
      </button>
    </form>
  </div>
  


    <div class="facture-container" *ngIf="selectedTab === 'createFacture'">
      <h2>Créer une nouvelle facture</h2>
  
      <form (ngSubmit)="creerFacture()" class="facture-form">
  
          <!-- Informations client et date -->
          <div class="form-group">
              <label>Nom du client</label>
              <input type="text" id="client_facture" name="client_facture" [(ngModel)]="facture.client"
                     (keyup)="rechercherClients2()" placeholder="Rechercher un client...">
              <ul *ngIf="clientsFiltres.length > 0" class="autocomplete-list">
                  <li *ngFor="let client of clientsFiltres" (click)="selectionnerClient2(client)">
                      {{ client.nom }}
                  </li>
              </ul>
          </div>
  
          <div class="form-group">
              <label>Date de la facture</label>
              <input type="date" [(ngModel)]="facture.date" name="date" required />
          </div>
  
          <!-- Tableau des produits -->
          <h3>Produits</h3>
          <table class="produits-table">
              <thead>
              <tr>
                  <th>Produit</th>
                  <th>Quantité</th>
                  <th>Prix Unitaire (€)</th>
                  <th>Total (€)</th>
                  <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let produit of facture.produits; let i = index">
                  <td>
                      <input type="text"
                             [(ngModel)]="produit.produit"
                             name="produits{{i}}"
                             (input)="filterProduits2(i, produit.produit)"
                             placeholder="Rechercher un produit..."
                             required />
                      <ul id="suggestionsList-{{i}}" *ngIf="filteredProduits2 && filteredProduits2[i] && filteredProduits2[i].length > 0" class="autocomplete-list">
                          <li *ngFor="let suggestion of filteredProduits2[i]"
                              (click)="selectProduit2(i, suggestion)">
                              {{ suggestion.label }}
                          </li>
                      </ul>
                  </td>
  
                  <td><input type="number" name="quantite{{i}}" [(ngModel)]="produit.quantite" (input)="calculerTotalFacture()" required /></td>
                  <td><input type="number" name="prixUnitaire{{i}}" [(ngModel)]="produit.prixUnitaire" (input)="calculerTotalFacture()" required /></td>
                  <td>{{ produit.quantite * produit.prixUnitaire | number:'1.2-2' }} €</td>
                  <td>
                      <button type="button" class="delete-btn" (click)="supprimerProduitFacture(i)">🗑️</button>
                  </td>
              </tr>
              </tbody>
          </table>
  
          <!-- Bouton pour ajouter un produit -->
          <button type="button" class="add-product-btn" (click)="ajouterProduitFacture()">+ Ajouter un produit</button>
  
          <!-- Totaux HT, TVA et TTC -->
          <div class="totaux-section">
  
              <div class="totaux-item">
                  <label>Total HT:</label>
                  <input type="text" [(ngModel)]="totalHT" name="totalHT" readonly />
              </div>
  
              <div class="totaux-item">
                  <label>TVA (%):</label>
                  <input type="number" [(ngModel)]="tva" name="tva" (input)="calculerTotalFacture()" />
              </div>
  
              <div class="totaux-item">
                  <label>Total TTC:</label>
                  <input type="text" [(ngModel)]="totalTTC" name="totalTTC" readonly />
              </div>
          </div>
  
          <!-- Bouton soumission -->
          <button type="submit" class="submit-btn">Créer la facture</button>
      </form>
  </div>
  
    
  

    <div class="currency-container" *ngIf="selectedTab === 'Currency'">
      <h2>💱 Taux de change - {{ baseCurrency }} ({{ currencyDetails[baseCurrency].designation || 'Inconnu' }})</h2>
    
   
      <table class="currency-table">
        <thead>
          <tr>
            <th>Devise</th>
            <th>Pays</th>
            <th>Désignation</th>
            <th>Taux de change</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rate of filteredRates">
            <td class="currency-name">
              <span class="flag flag-{{ rate.key.toLowerCase() }}"></span>
              {{ rate.key }}
            </td>
            <td>
              {{ currencyDetails[rate.key].country || 'Inconnu' }}
            </td>
            <td>
              {{ currencyDetails[rate.key].designation || 'Non définie' }}
            </td>
            <td>{{ rate.value | number: '1.4-4' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    
    <!-- Contenu en fonction de l'onglet sélectionné -->
    <div *ngIf="selectedTab === 'create'" class="main-container">
     
      <div class="left-panel">
        
        <div class="panel-header">
          <fa-icon [icon]="['fas', 'file-invoice']"></fa-icon> Créer un Devis
         
        </div>
       
        <div class="panel-subtitle">
          Remplissez le formulaire ci-dessous ou téléchargez votre devis au format PDF.
        </div>
      
        <form [formGroup]="devisForm" (ngSubmit)="enregistrerDevis()" class="devis-form">
          <!-- Sélection du client -->
          <div class="form-group">
            <div class="select-wrapper">
              <select id="client" formControlName="client" class="form-control">
                <option value="" disabled selected>Client</option>
                <option *ngFor="let client of clientsFiltres" [value]="client.id">{{ client.nom }}</option>
              </select>
            </div>
          </div>
      
          <!-- Date d'échéance -->
          <div class="form-group">
            <div class="date-input-wrapper">
              <input type="text" id="date" formControlName="date" class="form-control" placeholder="Date de l'échéance" readonly>
    <fa-icon [icon]="['fas', 'calendar-alt']" class="date-icon"></fa-icon>
            </div>
          </div>
      
          <div class="product-table-header">
            <div class="col-product">
              <select class="form-control product-select">
                <option value="" disabled selected>Produit</option>
                <option *ngFor="let produit of produits.controls" [value]=""></option>
              </select>
            </div>
            <div class="col-price">
              <input type="number" class="form-control price-input" placeholder="Prix">
            </div>
            <div class="col-quantity">
              <input type="number" class="form-control quantity-input" placeholder="Quantité">
            </div>
          </div>
      
          <!-- Pas de produits visibles dans l'image, donc juste la structure -->
      
          <!-- Upload document -->
          <div class="upload-document">
            <div class="upload-box">
              <fa-icon [icon]="['fas', 'cloud-upload-alt']"></fa-icon>
              <div class="panel-subtitle">Ajouter un devis à partir d'un document</div>
            </div>

          </div>
          <div class="upload-box-note">Le fichier doit être un PDF de taille maximale de 400 MB.</div>

          <!-- Bouton d'action -->
          <button type="submit" class="btn-submit">
            ENREGISTRER CE DEVIS
          </button>
        </form>
      </div>
      <div class="invoice-container">
        <div class="invoice-preview">
          <div class="invoice-header">
            <div class="company-info">
              <h2>Nom Société</h2>
              <h4>Adresse</h4>
              <h4>Numero de carte </h4>
              <h4>Téléphone</h4>
              <h4>Code APE</h4>

            </div>
            <div class="invoice-info">
              <h4>Devis à: Nom clien </h4>

              <h4>Adresse</h4>
              <h4>Téléphone fax  </h4>
              <h4>Code postal</h4>
            </div>
          </div>
          
          <div class="invoice-body">
            <div class="invoice-table">
              <div class="table-header">
                <span>Produit</span>
                <span>Quantité</span>
                <span>Prix Unitaire</span>
                <span>Prix Total</span>
              </div>
              <div class="table-row" *ngFor="let produit of produits.controls">
                <span>{{ produit.get('produitInput')?.value || '-' }}</span>
                <span>{{ produit.get('quantite')?.value || '0' }}</span>
                <span>{{ produit.get('prix')?.value | currency:'EUR' }}</span>
                <span>{{ produit.get('quantite')?.value * produit.get('prix')?.value | currency:'EUR' }}</span>
              </div>
            </div>
            <div class="invoice-total">
              <span>Total TTC:</span>
              <span>{{ calculerTotalTTC() | currency:'EUR' }}</span>
            </div>
          </div>
        </div>
        
        <div class="invoice-sidebar">
          <div class="zoom-controls">
            <label for="">zoom </label>
            <button class="zoom-btn">-</button>
            <span>100%</span>
            <button class="zoom-btn">+</button>
          </div>
          <button class="sidebar-btn">
            <i class="fa fa-print"></i> Imprimer le Devis
          </button>
          <button class="sidebar-btn">
            <i class="fa fa-envelope"></i> Envoyer par E-mail
          </button>
          <button class="sidebar-btn">
            <i class="fa fa-file-invoice-dollar"></i> Facturer
          </button>
          
        </div>
      </div>
      
      
      