<div class="page-container">
    <div class="back-arrow-container">
        <a href="#" class="back-arrow" (click)="goBack()">←</a>
    </div>
    <h1 class="page-title">Monthly Sales Statistics</h1>

    <div class="statistics-container">
      <div class="stat-box">
        <h2>January</h2>
        <div id="chart_div_january" class="chart"></div>
      </div>
  
      <div class="stat-box">
        <h2>February</h2>
        <div id="chart_div_february" class="chart"></div>
      </div>
  
      <div class="stat-box">
        <h2>March</h2>
        <div id="chart_div_march" class="chart"></div>
      </div>
    </div>
</div>
